.trix-content{
    font-size: 18px;
    line-height: 34px;
h1{
    font-size: 29px;
    font-weight: 800;
    line-height: 28px;
    margin-bottom: 0.5em;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 30px;
> li {
    margin-left: 0.5em;
    margin-bottom: 0.25em;
}
}
pre{
    padding: 15px 20px;
    margin-top: 15px;
}
blockquote {
    color: rgba(0, 0, 0, 0.54);
    margin: 20px;
    padding-left: 20px;
}
strong{
    font-weight: 800;
}
.attachment__caption{
    padding-top: 10px;
}
}